Repository shuyangsun/terraform-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, tflint --filter

Lint-staged change.
  .lintstagedrc
Due: none

Delete old tf files.
  policies/admin.json
  policies/bootstrap.json
  policies/root_admin.json
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/outputs.tf
  terraform/variables.tf
Due: terraform fmt, tflint --filter

Add code to bootstrap Terraform state S3 buckets.
  terraform/01_bootstrap/.terraform.lock.hcl
  terraform/01_bootstrap/main.tf
  terraform/01_bootstrap/policy.json
  terraform/01_bootstrap/variables.tf
Due: terraform fmt, tflint --filter

Add placeholder prevent destroy blocks.
  terraform/01_bootstrap/main.tf
  terraform/01_bootstrap/variables.tf
Due: terraform fmt, tflint --filter

Move bootstrap policy JSON file location.
  policies/bootstrap.json
  policies/root_admin.json
Due: none

Remove local variable.
  terraform/01_bootstrap/locals.tf
  terraform/01_bootstrap/main.tf
Due: terraform fmt, tflint --filter

Add configuration YAML file.
  .gitignore
  config.example.yaml
Due: none

Make prettier format YAML files.
  .lintstagedrc.js
  .prettierrc
Due: none

Update README.md to accurately describe what this repo is.
  README.md
Due: prettier --write

Update README.md file with instructions for non-technical people.
  README.md
Due: prettier --write

Shorter error code.
  scripts/setup.sh
Due: none

Add brew and gh dependency check, plus some documentation improvements.
  scripts/internal/check_dependencies/check_aws.sh
  scripts/internal/check_dependencies/check_brew.sh
  scripts/internal/check_dependencies/check_gh.sh
  scripts/internal/check_dependencies/check_git.sh
  scripts/internal/check_dependencies/check_terraform.sh
  scripts/internal/common.sh
  scripts/setup.sh
Due: none

Install dependency if not available.
  scripts/internal/check_dependencies/check_gh.sh
  scripts/internal/check_dependencies/check_git.sh
  scripts/internal/check_dependencies/check_terraform.sh
  scripts/internal/common.sh
Due: none

Chagne title.
  README.md
Due: prettier --write

Improve setup script to automatically upgrade dependencies to the newest version if requirements are not met.
  scripts/internal/check_dependencies/check_brew.sh
  scripts/internal/check_dependencies/check_gh.sh
  scripts/internal/check_dependencies/check_git.sh
  scripts/internal/check_dependencies/check_terraform.sh
Due: none

Rename script.
  scripts/start.sh
Due: none

Add script to setup local development environment.
  scripts/internal/development/setup_dev.sh
Due: none

Fix script.
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.md
  terraform fmt: any of: *.tf
  tflint --filter: any of: *.tf
